# Web Scraping & Automation
requests
beautifulsoup4
lxml
playwright
fake-useragent

# Data Processing & Storage
pandas
openpyxl
pytz

# AI / Gemini API
google-genai

# Google Cloud & Workspace API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Environment & Utilities
python-dotenv
packaging>=23.2
nest-asyncio
